@media only screen and (max-width:430px) {
   *{
        width: 100%;
        margin: 0;
        padding: 0;
    }   
    nav{
        width: 100%;
        padding: 0; 
        margin: 0;
    }
    nav a:first-child{
        width: fit-content;
    }
    .logo{
        width: 55%;
    }
    .nav-options{
        display: none;  
    }
    .navbar-toggler{
        display: block;
        width: fit-content;
       
    }
    .topnav.responsive {
        position: relative;
    }
    
    .topnav.responsive .navbar-toggler {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive .nav-options {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .intro, .business-setup, .manage-business, .grow-business{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 0.85em;
    }
    .intro-content, .business-setup-content, .manage-business-content, .grow-business-content, .business-official-first-content{
        width: 90%;
        align-items: center;
    }
    .intro-image{
        width: 70%;
        margin-top:2em;
    }
    .business-official-first-content{
        text-align: center;
        font-size: 0.80em;
    }
    .card{
        width: 100%;
    }
    .card-image{
        width: 20%;
    }
    .manage-business img, .grow-business img{
        margin-bottom: 0;
    }
    .grow-business img, .grow-business-content{
        margin-top: 0;
    }
}