{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
    <link rel="stylesheet" href="responsive_styling.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>KE Solution</title>
</head>
<body>
    <nav class="topnav" id="topNav">
        <a href="#">
            <img src="/media/images/logo.png    " alt="logo" class="logo">
        </a>
       
        <div class="nav-options">
            <a href="{% url 'llc_view' %}">Form an LLC</a> 
            <a href="#">Services</a>    
            <a href="#">Resources</a>
            <a href="#">Why KE Solution?</a>
            <a href="#">Contact US</a>
            <a href="#">Login</a>
        </div>
        <a href="javascript:void(0);" class="navbar-toggler" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </nav>
    <main>
        {% block content %}{% endblock %}
       
    </main>
 
    <script src="index.js"></script>

</body>
</html>